@import "varit.less";
@import "typografia.less";

@spacing: 10px;   // laatikoiden välissä / ympärillä
@padding: 5px;    // laatikoiden sisällä



#wrapper {

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

.reunus {

    border: 2px solid @lighten1;

}

.reunus2 {

    border: @spacing solid @complement;

}

.navigointipalkki {

    position: fixed;   // seuraa sivua
    top: 0;
    left: 0;          // kiinni vasemmassa ylänurkassa
    z-index: 1;   // tekstin päällä
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: @white;
    box-shadow: 1px 5px @box-shadow;

    .reunus;

    a {

        margin: 10px;
        text-decoration: none;
        color: @lighten1;
        font-size: 20px;

    }

}

header {

    position: relative;
    padding-top: 45px;

h1 {

    bottom: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 50px;

}

}




.promo-box {

    .reunus2;
    position: relative;
    background-color: @lighten2;
    margin-left: @spacing;
    padding: @padding;


  .paallimmainen {

    background-color: @lighten2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: opacity 2s;
    cursor: pointer;
    cursor: hand;
    height: 100%;
    width: 100%;
  
    
    &:hover {
        opacity: 0;
      }

  }


}

.promo-box-wrapper {

   width: 33.3%;
   float: left;


}
.teksti_sisalto {

    margin-left: @spacing;
   

.teksti_kentta {

    width: 33.3%;
    background-color: @lighten2;
    display: table-cell;

.alempi_teksti {

    margin: @spacing;
    padding: @padding;

    }

#id2 {

    text-align: right;
    color: @complement;
    font-size: 15px;

   

}

h1 {

    color: @complement;
  
 

    }
    
}


}

#teksti {

    margin-left: @spacing;
    display: inline-block;

}


.luettelo {

    padding: @padding;

 h2 {

    list-style: none;

    }

}


a:hover {
      .theme("vaalea");
    
    }
  
  
  

.theme (@mode) when (@mode = "vaalea") {
  
    
    color: @complement;

    
  }


p {

    font-family: @leipateksti;


}