.teksti_sisalto .teksti_kentta #id2,
.teksti_sisalto .teksti_kentta h1,
header h1 {
  font-family: "Lobster";
}
#wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.reunus {
  border: 2px solid #994d4d;
}
.reunus2 {
  border: 10px solid #2b5555;
}
.navigointipalkki {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 2px 2px #888888;
  border: 2px solid #994d4d;
}
.navigointipalkki a {
  margin: 10px;
  text-decoration: none;
  color: #994d4d;
  font-size: 20px;
}
header {
  height: 200px;
  position: relative;
}
header h1 {
  position: absolute;
  bottom: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  right: 0;
  width: 100%;
  height: 80px;
  font-size: 50px;
}
.promo-box {
  border: 10px solid #2b5555;
  position: relative;
  background-color: #bb7777;
  margin-left: 10px;
  padding: 5px;
}
.promo-box .paallimmainen {
  background-color: #bb7777;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: opacity 2s;
  cursor: pointer;
  cursor: hand;
  height: 100%;
  width: 100%;
}
.promo-box .paallimmainen:hover {
  opacity: 0;
}
.promo-box-wrapper {
  width: 33.3%;
  float: left;
}
.teksti_sisalto {
  margin-left: 10px;
}
.teksti_sisalto .teksti_kentta {
  width: 33.3%;
  background-color: #bb7777;
  display: table-cell;
}
.teksti_sisalto .teksti_kentta .alempi_teksti {
  margin: 10px;
  padding: 5px;
}
.teksti_sisalto .teksti_kentta #id2 {
  text-align: right;
  color: #2b5555;
  font-size: 15px;
}
.teksti_sisalto .teksti_kentta h1 {
  color: #2b5555;
}
#teksti {
  margin-left: 10px;
  display: inline-block;
}
.luettelo {
  padding: 5px;
}
.luettelo h2 {
  list-style: none;
}
a:hover {
  color: #2b5555;
}
p {
  font-family: serif;
}
