@otsikko: ~".teksti_sisalto .teksti_kentta #id2, .teksti_sisalto .teksti_kentta h1, header h1";

@{otsikko} {
  
   font-family: "Lobster";

}

@leipateksti: serif;

@navi: ~".navigointipalkki > a";

@{navi} {

   font-weight: bold;
   text-transform: uppercase;
  

}
