@base: #663333;
@complement: darken(spin(@base, 180), 5%);   // vihreä
@lighten1: lighten(@base, 15%);    // navigaation teksti ja reunus
@lighten2: lighten(@base, 30%);    // punaiset taustat

@white: #ffffff;
@box-shadow: #888888;