
.lisatietoja > a:after {
	
	content: ' \003E\003E';
	
}



.tekstikentta > h1 {
	
	margin: 0;
	
}

.luokka {
	
	margin-bottom: 15px;
	
}

.teksti {
	
	padding: 10px;

}

.teksti > h3 {
	
	margin-top: 0%;
	
}

.vasen {
	
	float: left;
	width: 60%;
	max-width: 300px;
	
}

.oikea  {
	
    clear: both;
    display: inline-block;
	
}

#luokka {
	
	margin-right: 5px;
	
}

#sisalto {
	
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	
}

hr {
	
	border: 1px dashed #852425;
	
}

select {
	
	border: 3px solid #852425;
	background-color: #b999a1;	
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	font-size: 6vw;
	color: #852425;
	font-family: Garamond;

}

option {
	
	font-size: 25px;
	
}


img {
	
	width: 100%;
	
}

#menu {
	
	width: 90%;
	display: inline-block;
	font-size: 17px;

}

a {
	
	font-weight:bold;
	text-decoration: none;
	font-family: Garamond;
	
}

.luettelo {
	
	margin-top: 0.8%;
	border-style: solid;
	background-color: #fff7e6;
	padding-bottom: 15px;

}

#nappi {
	
	text-align: right;
	display: inline-block;
	width: 20%;
	vertical-align: middle; 
	
}

.lista {
	
	background-color:#b999a1;
	width: 95%;
	margin: 2.5%;
	padding-top: 3%;
	padding-bottom: 3%;
	
}

.lista > a {
	
	font-family: Garamond;
	color: #000000;
	margin-left: 3%;

}

#taulu {
	
	border-style: solid;
	border-color: #000000;
	padding-bottom: 5%;
	margin-top: 2%;
	
}

#footer {
	
	display: inline-block;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #000000;
	color: white;
	text-align: center;
	
}

.yla_sisalto > p {
	
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2%;
	padding-top: 1%
	
}

#footer > p {
	
	margin: 10px;
	
}


#yla_otsikot {
   
	display: none;
    width: 100%;
    table-layout: fixed;
	
}
#yla_otsikot div {
	
	display: table-cell;

}
#yla_otsikot a {
	
	display: block;
	border: 2px solid #000000;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	color: #000000;
	background-color: #b999a1;

}

.yla_sisalto > h3 {
	
	text-align: center;
	
}




.teksti_sisalto > p, .teksti_sisalto > h3 {
	
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	
}


p {
	
	margin: 0;
	font-family: Garamond;
	
}

h3 {
	
	font-family: Palatino Linotype;
	
}

h1, h2 {
	
	text-align: center;
	font-family: Palatino Linotype;
	
}

.tekstikentta {
	
	width: 70%;
	float: right;
	display: none;
	
}



.yla_sisalto {
	
	background-color: #fff7e6;
	display: none;
	padding-top: 1%;
	border: 2px solid #000000;
	border-top: none;
	border-bottom: none;
	padding-bottom: 1%;
	
}

.lisatietoja {
	
	background-color: #b999a1;
	text-align: right;
	margin-top: 1%;
	padding: 3;
	
}


.lisatietoja > a{
	
	display: inline-block;
	margin: 1;
	color: #FFFFFF;
	font-size: 15px;
	margin-right: 1%;
	
}

#tietoa {
	
	font-size: 10px;
	
}

.teksti_sisalto {
	
	margin-top: 10px;
	border: 1px solid #852425;
	background-color: #fff7e6;
	
}

#yla_viiva_otsikko {
	
	width: 95%;
	border: 1px dashed #000000;

}

#yla_otsikot_2 {
	
	text-align: center;
	
}



@media screen and (max-width: 600px) {
	
.lista > a:after {
	
	content: ' \003E';
	float: right;
	
}

	
}


@media screen and (min-width: 600px) {

.sisalto2 {

	border: 2px solid #000000;
	
}


#footer {
	
	margin-top: 20px;
	
}



.yla_sisalto {

	display: block;

}
.tekstikentta {

	display: block;
	margin-right: 5px;

}

#yla_otsikot {
	
	display: table;
	
}


#nappi {
	
	display: none;
}

.yla_linkit {
	
	display: inline-block;
	
}

img {

    display: none;

}

select {
	
	display: none;
}

.luettelo {
	
	width: 25%;
	border: 1px solid #852425;
	border-radius: 10px;
	margin-left: 10px;
	padding-bottom: 0px;

}


}

@media screen and (min-width: 900px) {
		
#footer {
   
	margin-top: 10px;
   
}
	
	
.luokka {

	display: flex;

}	

	
#yla_viiva_otsikko {
		
	display: none;
		
}

#yla_otsikot_2 {
	
	width: 45%;
	display: inline-block;
	text-align: right;
	float: left;
	
}


#yla_otsikot_2 > h1 {
	
	text-align: right;
	font-size: 35px;
	
}

.yla_sisalto > p {
	
	width: 45%;
	margin-right: 3%;
	
}
	
.yla_sisalto {

	border-top: solid;

}
	
img {

	display: inline-block;
	width: 14%;
	margin-bottom: 5px;

}
	

#yla_otsikot {

	width: 65%;
    float: right;
	table-layout: auto;
	
}



#yla_otsikot a {
	
	padding: 7.6px;
	margin-left: 10px;

}

	
}



