/* CSS Document av Dieter Schneider 2007 */
.quote {
	
	padding: 50px;
    margin-left: auto;
    margin-right: auto;
	background-color: #F9F7EA;
	border: 1px dashed #CEAC86;
	
}

#pudotusvalikko_nappula {
	
	display: none;

	}

.sisalto {
	
	max-width: 1200px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
}


* {margin: 0; padding: 0;}

/************************************* Main structure *************************/

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 62.5%;
}

#container {
	
	background-image: url(images/kuva.jpg);
	background-repeat: no-repeat;
	height: 200px;
	background-size: 100% 100%;
	font-size: 1.2em;
	margin: 4px;
	border-top: 1px solid white;
	width: 81%;
	float: right;
	margin-top: 8px;

		
}
#container > img {
	
	
	display: none;
	
}
#header {
	height: 205px;
	padding-top: 20px;
	margin-left: 20%;
}

#kori {
	
	background-image: url(images/kori.jpg);
	height: 50%;
	min-width: 300px;
	background-repeat: no-repeat;
	position: absolute;
}

#header_left {
	margin-left: 5%;
	width: 326px;
	height: 206px;
}

#header_right {
    height: 206px;
	float: right;
}

#left {
	float:left;
	width: 18%;
}

#right {
	float: right;
	width: 80%;
	margin-top: 3%;
	margin-right: 2%;
	box-shadow:-10px -5px 4px #ccc;
	padding: 10px;
	padding-right: 50px;

}

hr {
	
	 border-top: 1px dashed #999999;
	
}

#footer {
	clear: both;
	width: 65%;
	float: right;
	padding: 20px;
	text-align: center;
	border-top: 1px dotted #CCCCCC;
	background-color: #F9F7EA;
	margin-right: 45px;
	
}

.date_box {
	background-color: #FFFFFF;
	background-image: url(images/date.jpg);
	height: 51px;
	width: 52px;
	float: left;
}

.date_box_month {
	padding-top: 6px;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 3px;
	text-align: center;
	color: #75a006;
}

.date_box_day {
	font-size: 22px;
	font-weight: bold;
	padding-left: 3px;
	text-align: center;
	font-style: italic;	
	color: #654040;
}

/******************************* Text and image formatting *******************************/

p {margin-bottom: 15px;
   margin-top: 15px;
}

p.quote:first-letter 
{
	color: #6F9800;
	font-size:xx-large;
	margin-top: 20px;
	font-size: 2.5em;
    padding-right: 2px;
   
}

h1 {
	color: #87a448;
	margin-top: 85px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 2.6em;
	margin-top: 50px;
}

.red {color: #614240;}

h2 {
	color: #bf8a44;
	font-size: 1.6em;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}

h3 {
	height: 31px;
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-left: 75px;
	font-size: 1.6em;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #84A54A;
	border-bottom: 1px dotted #CCCCCC;
}

h4 {
	width: 210px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #F5F9EB;
	padding: 5px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #CEAC86;
	border-bottom-color: #CEAC86;
	font-size: 1.2em;
	color: #A6BB7A;
	margin-left: 15%;
}

blockquote {
	background-color: #F4F7F0;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 30px;
	padding-bottom:30px;
	border: 1px dotted #EBE2B7;
	background-image: url(images/blockquote.png);
	background-repeat: no-repeat;
	font-style: italic;
}

.read_more {
	background-color: #FFFFFF;
	padding: 3px;
	text-align: right;
	font-weight: bold;
	font-style: italic;
}

img {border: none;}

.float_left {float: left;
              margin-right: 10px;}
			  
.float_right {float: right;
              margin-left: 10px;}
			 
a:link {color: #557C2B; text-decoration: none;}     /* unvisited link */
a:visited {color: #83A956; text-decoration: none;}  /* visited link */
a:hover {color: #821115; text-decoration: none;}   /* mouse over link */
a:active {color: #577E2D; text-decoration: none;}   /* selected link */

/********************************* Navigation **********************************/

.link {
	
	margin-left: 15%;
	
}


#navcontainer { }

#navcontainer ul
{
	list-style-type: none;
	font-weight: bold;
	color: #990000;
	margin-left: 15%;
}

#navcontainer a
{
	display: block;
	padding-top: 17px;
	padding-left: 37px;
	width: 182px;
	background-color: #DCE3ED;
	border-bottom: 1px solid #eee;
	background-image: url(images/menu.png);
	background-repeat: repeat-x;
	height: 27px;
}


#navcontainer a:link, #navlist a:visited
{
color: #93B26E;
text-decoration: none;
}

#navcontainer a:hover 
{	
	background: url(images/menu.png) 0 -45px;
	color: #562930;
}

/**************************************** Form elements member login ****************************/


p.welcome {
	font-size: 0.8em;
	text-align: left;
	margin-right: 30px;
	margin-left: 35px;
	margin-bottom: 0px;
	margin-top: 25px;
	color: #6B383D;
}

form {
	margin-top: 15px;
	margin-left: 35px;
}

input.fields {display: block;
        width: 140px;
        background: url(images/input_bg.png);
		border-top: 1px solid #E3E4E9;
		border-left: 1px solid #E3E4E9;
		border-bottom: 1px solid white;
		border-right: 1px solid white;
		margin-top: 3px;
	    margin-bottom: 3px;}

label {
	color: #A5BB73;
	font-style: italic;
}

.submit_button {
	margin-top: 15px;
	padding: 2px;
	background-color: #EAF4D9;
	margin-right: 40px;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-bottom: 2px solid #E3E4E9;
	border-right: 2px solid #E3E4E9;
	margin-right: 200px;
}

/**************************************** extra classes: contact us ****************************/

form.contact_us {
	width: 190px;
	margin-top: 15px;
	margin-left: 15%;
	padding: 15px;
	background-color: #FBF9F4;
	background-image: url(images/form_bg.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

input.fields_contact_us {display: block;
        width: 185px;
        background: url(images/input_bg.png);
		border-top: 1px solid #E3E4E9;
		border-left: 1px solid #E3E4E9;
		border-bottom: 1px solid white;
		border-right: 1px solid white;
		margin-top: 3px;
	    margin-bottom: 3px;}

textarea {width: 185px;
          background: url(images/input_bg.png);
          border-top: 1px solid #E3E4E9;
		  border-left: 1px solid #E3E4E9;
		  border-bottom: 1px solid white;
		  border-right: 1px solid white;

          margin-top: 3px;}

.submit_button_contact {
	margin-top: 15px;
	padding: 2px;
	background-color: #EAF4D9;
}
@media only screen and (max-width: 900px) {

#footer {
	
	margin-right: 0;
}
#right {
	
	width: 70%;
	margin-left: 0px;
	
}
#container {

	width: 100%;
	
}


#header {
	
	margin-left: 0px;
	
}




}

@media only screen and (max-width: 1070px) {
	
#navcontainer {
		
	width: 100%;
	height: 10%;
    background-color: antiquewhite;
    margin-top: 58px;
	
}

#form2 > p { 
		
	font-size: 20px;
	
}
	
	
.submit_button_contact {
		
	margin-top: 100px;
	padding: 10px;
	float: left;
		
}

blockquote {
		
	padding-left: 0px;
	padding-right: 0px;
	
}
	
	
#container {
		
	float: none;
		
}
	
	
	
.link {
		
	font-size: 20px;
		
}
	
	
form.contact_us {
		
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding-bottom: 200px;
		
}
	
	
.contact, .links {
		
	font-size: 20px;
	display: inline-block;
	width: 92.3%;
	margin-left: 3%;
	margin-right: 3%;
}


.menu1 {
		
	display: none;
		
}
	

#navcontainer a {
		
	width: 11vw;
		
}
	
#navcontainer ul {
		
	margin-left: 10%;
	margin-right: 10%;
	position: absolute;
	margin-top: 3vh;
	
}
	

	
li {
	
	background-color: gray;
	display: inline-block;
}
	
#left {
		
	float: none;
	width: 100%;
	margin-top: -7vh;
		
}
	
#right {
	
	margin-top: 10%;
	width: 90%;
	background-color: white;
	box-shadow: none;
	margin-right: 0%;
	float: left;
	padding: 20px;
		
}
	
	
#footer {
		
	margin-top: 5vh;
    width: 100%;
	font-size: 13px;
}
	
#left > img {
		
	display: none;
		
}
	
#container {

    background-image: url(images/kuva2.jpg);
	width: 99.5%;
}
	
input.fields_contact_us {
			
	width: 50%;
	padding-bottom: 20px;
		
}
	
textarea {
			
	width: 50%;
	padding-bottom: 20px;
	
}
	
	
}
@media only screen and (max-width: 780px) {
	
#navcontainer {
	
	background-color: transparent;
	position: static;
}

.submit_button {
		
	padding: 10px;
}
	
p.welcome {
		
	font-size: 2em;
}
	
	
	
.float_right {
		
	float: none;
	height: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
		
}
	
#header_left {
		
	position: absolute;
	margin-left: 30%;
	width: 200px;
}
	
	
h1 {

margin-top: 1px;

}
	
#header_right {
	float: left;
	margin-top: 25%;
}

#container {
    background-image: url(images/kuva3.jpg);
	height: 500px;
	background-size: cover;
}
	
#navcontainer a {
		
	width: 30vw;
		
}
	
	
#pudotusvalikko_nappula {
	
	display: block;
	height: 35px;
	width: 35px;
	position: absolute;
	top: 0;
	margin-left: 3%;
	margin-top: 4%;
	border-radius: 20px;
		
}
#pudotusvalikko_nappula.visible {
	
   background-color: rgb(84, 84, 84, 0.5);
	
}


#navcontainer ul.visible {
    display: block;
}
	
#navcontainer ul {
	
	display: none;
	margin-top: 7vh;
	top: 0;
}
	
li {
		
	display: block;
		
}

input.fields {
		
	width: 80vw;
	height: 30px;
		
}
	
#right {
		
	margin-top: 15%;
		
}
	
}
@media only screen and (max-width: 550px) {
	
#header_right {

	margin-top: 15vh;
	
}	
	
}
