﻿* {
	box-sizing: border-box;
	max-width: 100%;
}

#container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #802b00;
	text-decoration: none;
	font-weight: bold;
}

header {
	background-color: #d2a679;
	padding: 20px;
	border: solid 2px #4d1300;
}

header h1 {
	margin: 0;
	text-align: center;
	color: #4d1300;
}

#main-navi {
	border: solid 2px #4d1300;
	border-top: none;
}

#main-navi ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#main-navi ul::after {
	content: "";
	display: block;
	clear: both;
}

#main-navi li {
	display: inline-block;
	float: left;
}
#main-navi a {
	display: block;
	border-right: solid 2px #4d1300;
	padding: 10px;
}

main {
	width: 70%;
	float: left;
	padding-right: 30px;
}

#sidebar {
	width: 30%;
	float: right;
	margin-top: 10px;
}

#login-box {
	border: solid 2px #4d1300;
	margin-bottom: 10px;
}

#urgent-notes {
	border: solid 2px #4d1300;
}

#login-box h2, #urgent-notes h2 {
	background-color: #d2a679;
	color: #4d1300;
	margin: 0;
	margin-bottom: 0px;
	font-size: 20px;
	padding: 5px;
}

#login-box-content, #urgent-notes-content {
	padding: 10px;
}

.login-label {
	display: inline-block;
	width: 80px;
}

.urgent-note {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: dashed 1px #4d1300;
}

.urgent-note:last-child {
	border-bottom: none;
}

.urgent-note .topic {
	margin-right: 80px;
	display: block;
}

.urgent-note .deadline {
	font-size: 11px;
	color: #d2a679;
	display: block;
	width: 60px;
	float: right;
}

.urgent-note .shared-by {
	display: inline-block;
	clear: both;
	background-color: #d2a679;
	border: solid 1px #4d1300;
	padding: 3px;
	font-size: 11px;
}

.urgent-note::after {
	content: "";
	display: block;
	clear: both;
}

.register-label {
	display: inline-block;
	width: 150px;
}

#add-category {
	border: solid 2px #4d1300;
	padding: 10px;
	margin-top: 20px;
}

#add-category h3 {
	margin-top: 0;
}

#category-list th, #category-list  td {
	padding: 5px;
}

#category-list .notes-in-category {
	text-align: center;
}

#category-list .delbutton {
	border: solid 1px #4d1300;
	background-color: #d2a679;
	border-radius: 10px;
	font-size: 11px;
	padding: 2px 5px;
}

.profile-label {
	display: inline-block;
	width: 150px;
}

.note-add-label, .note-modify-label {
	display: inline-block;
	width: 80px;
}

#filter-bar {
	margin-top: 10px;
	margin-bottom: 10px;
}

#filter-bar select, #filter-bar input {
	background-color: #d2a679;
}

.note {
	border: dashed 2px #4d1300;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.note h3 {
	margin-top: 0;
	margin-right: 100px;
}

.note .shared-by {
	float: right;
	display: inline-block;
	background-color: #d2a679;
	border: solid 1px #4d1300;
	padding: 3px;
	font-size: 11px;
	margin-right: 20px;
}

.note-done {
	border: solid 2px #d2a679;
	border-radius: 10px;
	padding: 2px 5px;
	background-color: #4d1300;
	color: #d2a679;
	font-size: 13px;
}

.remove-share {
	padding-left: 10px;
}

#note-modify-buttons a {
	font: 13px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

#onnistui {
	
	color: #24a61f;
	
}


.virhe {
	
	color: #ff5e5e;
	
}


