.uutinen {
	
	margin-top: 5px;
	margin-bottom: 5px;
}

#vasen {
	
	float: left;
	padding: 10px;
	width: 63%;
}

#sisalto_teksti {
	
	white-space: pre-line;
	
}
hr {
	
	border-top: 1px dashed #cc0099;
	
}

h3 {

margin-bottom: 0;
   margin-top: 5px;
}

p.kirja {
	
	color: #808080;
	font-size: 13px;
}

p {
	
	 
	  margin: 0;
}

.blogi:last-child > hr  {
	
	display: none;
}


.uutinen > p {
	
	margin: 0;
	color: #808080;
	font-size: 13px;
}


#otsikko {
	
	background-color: #ff99ff;
	padding: 5px;
}

#otsikko > h3 {
	
	margin: 0;
}

.Kirjatoukka {
	
	float: left;
	width: 48%;
}

.Grimm {
	
	float: right;
	width: 48%;
	
}

#sisalto2 {
	
	float: right;
	width: 30%;
	border: 2px solid #cc0099;
	margin: 10px;
	padding: 5px;
}


#teksti {
	
margin: 0;
padding: 0;
float: right;
margin-right: 25px;
	
}

.blogi {
	
	margin-top: 5px;

}


#ala_palkit > p {
	
	margin-bottom: 0;
	margin-top: 0;
	display: inline-block;
	color: #808080;
	font-size: 13px;
}

.sisalto {
	
	display: table-cell;
	width: 14.2%;
	border: 1px solid #cc0099;
	position: relative;
	padding: 5px;
}


#taulukko {
	
	display: table;
	width: 100%;
	padding: 0;
	margin: 0;
	
}

.paiva {
	
	margin-bottom: 10px;
	text-align: center;
	  font-weight: bold;
	
	
}

.lampotila {
	  font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
	font-size: 22px;
}

.tuulennopeus {
	
	margin-top: 10px;
	
}


.lampotila:after {
	
	content: "\2103";
	
}

#sisalto {
	
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #cc0099;
	display: table;
	
	
}

header {
	
	background-color: #ffcccc;
	padding: 10px;
	
}


header > h2, header > h3 {
	
	text-align: center;
	
	
	
}

.viikko_otsikko {
	
	padding: 5px;
	background-color: #ff99ff;
	
	
}

.viikko_otsikko > h4 {
	
	
	margin: 0;
}