/* neuvontapalsta */


.error {
	color: #FF0000;

}

.onnistui {
	
	color: #6a856e;
}

#sisalto {
	
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff8f7;
	margin-top: 25px;
	border: 2px solid #1a3e45;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	
	
}

.yla_palkit {
	
	
	background-color: #b4cbcf;
	display: table;
    width: 100%;
	
}

.yla_palkit > a {
	
	background-color: #5f6773;
	padding: 10px;
	border: 2px solid #1a3e45;
	display: table-cell;
	text-decoration: none;
	color: #000000;
	width: 20%;
	
}

a:hover {
	
	color: #f2f2f2;
	background-color: #64868c;
	
}

header {
	
	text-align: center;
	padding: 10px;
	background-color: #64868c;
	
}

form {
	
	background-color: #e4eff0;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border: 1px solid #1a3e45;
	border-radius: 10px;
	
}

footer {
	
	background-color: #64868c;
	text-align: center;
	margin-top: 20px;
	padding: 5px;
	display: inline-block;
	width: 99%;
	
}

footer > p {
	
	
	width: 40%;
	display: inline-block;
	text-align: right;
	
}


#etusivu {
	
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	
}

#kirjautumis_lomake {
	
	padding-top: 50px;
	
}

img {
	
	float: right;
	margin-right: 10px;
	
}



input[type=submit] {
	
	
	background-color: #006a85;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	
}

input[type=submit]:hover {
	
	color: #f2f2f2;
	background-color: #000000;
	
	
	
}

.virhe_ilmoitus {
	
	display: inline-block;
	background-color: #cc9191;
	padding: 10px;
	background-color:rgba(255,0,0,0.1);
	border: 1px solid #ff0000;
	margin-left: 20px;
	border-radius: 10px;
	
}

input[type=text], input[type=email], input[type=password]  {
	
	padding: 5px;
	border-radius: 10px;
	
}


p {
	
	  font-family: "Times New Roman", Times, serif;
	
}




h2 {
	
	
	  font-family: Verdana;
}
	
/* keskustelu sivu */


.yla_palkit > form {
	
	background-color: transparent;
	width: unset;
	padding: 0;
	border: transparent;
	display: inline;
	
	
}

#kategoria > a {
	
	text-align: center;
	display: block;
	background-color: #5f6773;
	padding: 10px;
	text-decoration: none;
	font-size: 25px;
	color: #000000;
	border: 1px solid #1a3e45;
	border-left: none;
	border-right: none;
	
		
}

#kategoria > a:first-child {
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
}


#teksti_sisalto {
	
	min-height: 345px;
	
	
}

#etusivu > h2 {
	
	
	margin-top: 0;
	
}

.yla_palkit > form > a {
	
	background-color: #5f6773;
	padding: 10px;
	border: 2px solid #1a3e45;
	display: table-cell;
	text-decoration: none;
	color: #000000;
	width: 20%;
    text-align: center;
	
	
}

form > a:hover {
	
	color: #f2f2f2;
	background-color: #64868c;
	
}


#kategoria > a:hover {
	
	background-color: #64868c;
	color: #f2f2f2;
}

#kategoria {
	
	background-color: #e4eff0;
	width: 30%;
	min-height: 345px;
	margin-left: 20px;
	border: 2px solid #1a3e45;
	border-radius: 10px;
	float: left;
	
	
	
}

#keskustelu {
	
	background-color: #e4eff0;
	width: 60%;
	min-height: 345px;
	float: right;
	margin-right: 20px;
	border-radius: 10px;
	border: 2px solid #1a3e45;
	
}

#keskustelu > a {

	text-decoration: none;
	color: #2b2c30;
	margin-left: 10px;

}


#keskustelu_otsikko:hover {
	
	background-color: #5f6773;
	color: #ebebeb;
	
	
}

#keskustelu > .error > .virhe_ilmoitus {
	
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 50px;
	text-align: center;
	margin-top: 10%;
	font-size: 25px;
	
	
}


#kategoria > .error > .virhe_ilmoitus {
	
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 10px;
	text-align: center;
	margin-top: 35%;
	font-size: 20px;
	
	
}

#keskustelu_otsikko {
	
	background-color: #64868c;
	width: 80%;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 10px;
	
}

#keskustelu_otsikko > h1 {
	
	color: #000000;
	margin: 0;
	
}

.paivamaara {
	
	float: right;
	
	
}

.uusiviesti {
	
	background-color: #006a85;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	display: inline-block;
	
}


.uusi {
	
	
	width: 80%;
	
	
}


.virhe_ilmoitus > a {
	
	
	margin-top: 20px;
	text-decoration: none;
	color: #000000;
	
}

.keskustelu {
	
	width: 80%;
	min-height: 300px;
	
}


.paaotsikko {
	
	width: 80%;
	background-color: #64868c;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	
}

.paaotsikko > h1 {
	
	margin-top: 0;
	
}

.keskustelu_paivamaara {
	
	float: right;
	color: #969696;
	
}

.keskustelu_nimimerkki {
	
	float: left;
	color: #969696;
	
	
}

.vastaus_sisalto {
	
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #1a3e45;
	padding: 20px;
	margin-top: 25px;
	
}

.vastaus_kentta {
	
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	margin-top: 25px;
	background-color: #b1ccc5;
	
	
}


hr {
	
	 border-top: 2px dashed #1a3e45;
	
}


.pien_keskuttelu_otsikko > h1 { 

	width: 70%;
    float: left;
    margin: 0;



}

#luvut {
	
	width: 30%;
	display: inline-block;
	text-align: right;
	

}

#kirjaudu {
	
	float: right;
	margin-bottom: 0;
	margin-right: 15px;
	
}

.kategoria_palkki {
	
	margin-left: 10px;
	
}

#teksti_sisalto2 {
	
	min-height: 480px; 
	
}

.next {
  background-color: #006a85;
  color: white;
}

.round {
  border-radius: 50%;
}

#ala_palkit > a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: 10px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #006a85;
  color: white;
}

#ala_palkit {
	
	text-align: right;
	margin-right: 50px;
	
}

#maara {
	
	float: right;
	font-size: 25px;
    margin-right: 50px;
	margin-top: 5px;

}

#kategoria > #ala_palkit {
	
	margin-top: 10px;
    margin-right: 0;
	text-align: center;

	
}


#ala_palkit > #maara {

float: none;
display: inline;
margin-right: 0;
font-size: 20px;
margin: 70px;

}



#kategoria  > .previous {
	
	float: left;
	
}

#kategoria  > .next {

	float: right;
}

.vastaus_sisalto > #ala_palkit {
	
	 text-align: center;
     margin: 0;
	 background-color: #b1ccc5;
	
}

#kategoria_nimi {
	
	display: inline-block;
    text-align: center;
	width: 65%;
	font-size: 30px;
    margin: 0;
	text-decoration: underline;
	
}


#kategoria > form {
	
	width: 81%;
	margin-bottom: 5px;
	margin-top: 5px;
	
}


#keskustelu > form {
	
	float: left;
	margin-left: 50px;
	width: 60%;
	text-align: center;
	margin-bottom: 5px;
}

#keskustelu > #ala_palkit {


    width: unset;
    float: right;
	

}	

#keskustelu > #ala_palkit > a {
	
	display: table;
	
	
}