.taustakuva {
	
	background-image: linear-gradient(blue, white); 
	margin-top: 0%;
	display: inline-block;
	width: 100%;

}

	
h1 {
	
	color: #66d9ff;
	text-align: center;
	padding: 50px;

}

.taulu {
	
	background-color: #66d9ff;
	display: inline-block;
    width: 100%;
	
}


.header {
			
	padding-top: 0.1%;
	padding-bottom: 0.1%;
	background-color: black;
	margin-bottom: 10px;

}

.luettelo {
 
	padding: 20px;
	font-size: 1.3rem;
	margin: 0;
	background: white;
	border: 2px solid blue;
	border-top: none;
	border-left: none;
	border-right: none;
	padding-bottom: 0;
	padding-top: 0;
	
}

.luettelo2 {
 
	border-bottom: none;
	padding: 20px;
	font-size: 1.3rem;
	margin: 0;
	border-bottom: none;
	padding-bottom: 0;
	padding-top: 0;

}

ul.a > li > a {
	
	color: white;
	text-decoration: none;
	margin: 10px;
	
}

.pudotusvalikko > a {

	color: white;
	text-decoration: none;
	margin: 10px;
	padding-bottom: 10px;
	
}

.sisalto2 > li > a {
		
	color: white;	
	text-decoration: none;

}

li > a {
	
	color: blue;
	
}

@media only screen and (max-width: 500px) {

.pudotusvalikko > a {
	
	font-size: 20px;
	
}

ul.a {
	
	font-size: 20px;
	
}

.taulukko1 {
	
	float: left;
	width: 100%;
	
}

.taulukko2 {
	
	float: left;
	width: 100%;
	
}


.taulukko3 {
	
	float: left;
	width: 100%;
	
}
.otsikko > h3 {
	
	margin-top: 0%;
	background-color: blue;
	height: 20px;
	padding: 10px;
	margin-left: 0;

}

select { 
    
	appearance: none; 
    outline: 0; 
    background: #66d9ff; 
    background-image: none; 
    width: 100%; 
    color: black; 
    cursor: pointer; 
       
} 
       
ul.a {
		
	margin-left: -20px;
	list-style: none;
	
}


.taulu {
	
	display: inline-block;
    width: 100%;
	
}

#sivut {
	
	min-width: 200px;
	border: 3px solid blue;
	margin-bottom: -20px;

}


h3 {
		
	color: #66d9ff;

}


h2 {
	
	color: #66d9ff;
	text-align: center;
	padding: 50px;
	
}


.sisalto2 {
	
	position: relative;
	display: none;
	background-color: black;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-decoration: none;
	margin-left: 30px;
	
}



.pudotusvalikko:hover .sisalto2 {
	
	display: block;
		
}


li.a {
	
	display: inline-block;
	 	
}


.pudotusvalikko {
	
	display: block;
	
}


.select2 {
	
	display: none;
	
}

.footer > p {
	
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	
}

}

@media only screen and (min-width: 500px) {

.header {
	
	margin-bottom: 0;
	
}

.sisalto2 > li {
	
	padding: 5px;
	
}

.pudotusvalikko {
	
	display: inline-block;
	margin-left: 20px;
	
}


ul.a > li {
		   
	display: inline-block;
	margin-left: 20px; 
	
}

.otsikko > h3 {
	
	margin-top: 5%;
	background-color: blue;
	height: 20px;
	padding: 10px;
	
}

.select2 {
	
	display: none;
}

select { 
                
	appearance: none; 
    outline: 0; 
    background: #66d9ff; 
    background-image: none; 
    width: 100%; 
    height: 3%; 
    color: black; 
    cursor: pointer; 
       
} 
       
ul.a {
	
	margin-left: -20px;
	list-style: none;
	
}
	

	
#sivut {
	
	border: 2px solid blue;
	margin-bottom: -20px;
	margin-left: auto;
    margin-right: auto;

}


h3 {
		
	color: #66d9ff;

}

h2 {
	
	color: #66d9ff;
	text-align: center;
	padding: 50px;
	
}


.sisalto2 {
  
	position: absolute;
	display: none;
	background-color: black;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-decoration: none;
	border: 2px solid white;
	margin-top: 10px;
	padding-top: 50px;
	
}



.pudotusvalikko:hover .sisalto2 {
	
	display: block;
	padding: 5px;
	
}



li.a {
	
	display: inline-block;
	 	
}




.taulukko1 {

	float: left;
	
}


.taulukko2 {
	
	float: left;
	
}

.taulukko3 {
	
	display: inline-block;

}

.taulu > div {
	
	width: 33.3%;
    display: table-cell;
	
}

.otsikko {
	
	padding: 10px;
	padding-top: 0;
	padding-bottom: 0;
	
}


.lista {
	
	color: black;
	background-color: black;
	padding: 10px;
	
}

}
@media only screen and (min-width: 800px) {

.header {
	
	margin-bottom: 10px;
	
}

.luettelo, .luettelo2 {
    width: 30% !important;
	float: left !important;
	padding-left: 20px !important;
  
}




.otsikko {
	
	padding: 0;
	
}

.otsikko > h3 {
	
	margin-top: 0 !important; 
	
}

ul.a > li {
		   
	display: inline-block;
	margin-left: 40px !important;
	
}
	
.pudotusvalikko {
	
	display: inline-block;
	margin-left: 40px !important;
	
}


.taulu > div {
	
	width: 100%;
	
}

#sivut {
	
	max-width: 1200px;
	border: 2px solid blue;

}
	
.taulukko1 {
	
	float: left;
	width: 100%;
	
}


.taulukko2 {
	
	float: left;
	width: 100%;
	
}

.taulukko3 {
	
	float: left;
	width: 100%;
	
}
.taulu {
	
	float: right;
	width: 30%;
	margin-right: 10px;
	margin-bottom: 10px;

	
}
	
.luettelo {
    
	float: left;
	padding-top: 0;
    font-size: 1.3rem;
    margin: 0;
    border: 1px solid blue;
	width: 30%;
	border: 1px solid white;
}

.luettelo2 {

	float: left;
	padding-top: 0;
    font-size: 1.3rem;
    margin: 0;
    border: 1px solid blue;
	width: 30%;
	border: 1px solid white;
	padding-right: 0;

}

.luettelo > p, .luettelo2 > p {
	
	margin-top: 0;
	
}




.sisalto2 {
	
	border: 2px solid white;
		
}

.otsikko > h3 {
	
	margin: 0%;
	background-color: blue;
	height: 20px;
	padding: 10px;

}
	
}

@media only screen and (min-width: 650px) {


.luettelo, .luettelo2 {
	
	padding: 10px;
	border: none;
	
}

.luettelo {
	
	width: 46%;
	float: left;
	padding-top: 0;
	
}

.luettelo2 {
	
	width: 46%;
	float: right;
	padding-top: 0;
	
}

.otsikko > h3 {
	
	margin-top: 0;
	background-color: blue;
	padding: 10px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
	
}
.taulukko1 > ul > li {
	
	margin-left: 5%;
	
}
.taulukko2 > ul > li {
	
	margin-left: 5%;
	
}
.taulukko3 > ul > li {
	
	margin-left: 5%;
	
}




.select2 {
	
	appearance: none; 
    outline: 0; 
    background: #66d9ff; 
    background-image: none; 
    width: 100%; 
    color: black; 
    cursor: pointer; 
	text-align: right;
	float: right;	
	display: inline;
	padding-top: 5px;
    padding-bottom: 5px;
	
}



.select2 > a {
	
	color: black;	
	text-decoration: none;
	padding: 10px;
    margin: 10px;

}	


.select {
	
	display: none;
	
}


}


.footer {
 
	text-align: center;
	clear: both;
	width: 100%;
	background-color: black;
	text-align: left;
	color: white;
	
}

.footer > p {
 
	text-align: center;
	margin-bottom: 0;
	color: white;
    padding: 20px;
	margin-top: 0;
	
}
