#sailio { 
 
 width: 950px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 50px;
 
}



span:hover { 
	
	background-color: #9c9c9c;
	
}


#karuselli { 
position:relative; 
top:0px;
left:0px;  
height:281px; 
overflow:hidden; 
border: 1px solid #000000;

}

#karuselli > div { 
float:left; 
position: absolute;
display: none;
}
p {

width: 400px;

}
img {

width: 500px;
float: left;
}

.kuvaus {

float: right;
margin-left: 20px;
margin-top: 28px;

}

#valilehdet {
	
background-color: #c9c9c9;
	
}

span {
	
padding: 10px;
border: 1px solid #000000;
margin: 0;
display: table-cell;
border-top: 0px;

}

@media only screen and (max-width: 960px) {

.kuvaus {
    float: none;
    margin-left: 0px;
    margin-top: 0px;
	padding: 30px
}

#karuselli {
	
height: 100%;
width: unset;

}

img {
	
	width: 100%;
	margin-bottom: 50px;
	
}

#sailio {
	
	width: unset;
	
}

#karuselli > div {
	
float: none;
position: relative;
	
}

p {
	
	width: unset;
	
}



span {
	
	width: 25%;
	display: table-cell;
	
}

#valilehdet {
	
width: 100%;
display: inline-table;
	
}

}