* {
  box-sizing: border-box;
}




.yhteystideot > div > p {
	
	margin: 0;
    display: inline-block;
	
}

.yhteystideot > div {
	
	padding: 10px;
	padding-right: 0;
	
	
}

.linkki > a {
	
	margin-left: 10px;
	display: inline-block;
	
}




#yhteystideot {
	
	display: inline-block;
	
}

#otsikko2 {
	
	width: 82%;
	margin-left: auto;
	margin-right: auto;
	
}

.meista_sanottua {
	
	margin-top: 10px;
}
	
.teksti_sisalto, .teksti_sisalto2 {
	
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	
}

#margin {
	
	margin-left: auto;
    margin-right: auto;
    width: 95%;
	
}
#margin > p {
	
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	
}

p {
	
	font-family: Titillium Web;
	
}


#logo {
	
	font-family: Merriweather;
	font-weight:bold;
	margin-left: 50px;
	
}

.column {
	
	float: left;
	width: 33.33%;
	padding: 5px;
	
}	


.kuvat {
	
	content: "";
	clear: both;
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 96%;
	
}

.otsikko {

background-color: red;

}

.column > img {
	
	width: 100%;
	border: 2px solid;

}


#taustakuva {
	
	padding-top: 10px;
	background-image: url(images/christmas-bg.png);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	width: 100%;
}


.sisalto {
	
	padding-top: 1px;
	background-color: #ffffff;
	border-radius: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	max-width: 1000px;
	
}

#otsikko {
	
	background-color: #a0181c;	
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-bottom: 15px;
	
}

#otsikko > h1 {
	
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
	text-align: center;
	padding-top: 20px;
	font-size: 50px;
	font-family: Merriweather;
    font-weight: 900;
}


.tekstikentta > h2 {
	
	margin-top: 0px;
	font-family: Merriweather;
    font-weight: 400;
}

.tekstikentta {
	
	border-color: #a0181c;
	border-style: dashed;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 15px;
	padding-right: 0;
}

#logo > p {
	
	width: 20%;
}

.ajankohtaista {
	
	border-color: #a0181c;
	border-style: dashed;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: table;
	padding: 20px;
	padding-top: 10px;
	
}

.ajankohtais_otsikko {
	
	background-image: linear-gradient(to right, #ffffff, #a0181c, #ffffff);
	text-align: center;
	border: 2px solid #a0181c;
	margin-left: auto;
    margin-right: auto;
	margin-top: 5%;
    margin-bottom: 5%;
	width: 100%;
	margin: 0;
}	

.ajankohtais_otsikko > h2 {

	font-family: Merriweather;
    font-weight: 400;
	margin: 5;
}

.meista_sanottua_otsikko > h2 {
	
	font-family: Merriweather;
    font-weight: 400;
	margin: 5;

}


.meista_sanottua_otsikko {
	
	background-image: linear-gradient(to right, #ffffff, #a0181c, #ffffff);
	text-align: center;
	border: 2px solid #a0181c;
	margin-left: auto;
    margin-right: auto;
	margin-top: 5%;
    margin-bottom: 5%;
	width: 95%;
	margin-top: 10px;
}

#viiva {

	border: 2px dashed #a0181c;	
	
}


.meista_sanottua {
	
	border-color: #a0181c;
	border-style: dashed;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	
}


.footer {
	
	background-color: #a0181c;	
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	
}


b {
	
	display: inline-block;
	width: 34%;
	min-width: 100px;
	margin-right: 25px;
	
}

.luettelo > a {
	
	width: 95%;
	background-color: #335a16;
	text-align: center;
	margin: 5px;
	font-family: Merriweather;
    font-weight: 400;
	color: #a0181c;
	padding: 5px;
	display: block;
	text-decoration: none;
	
}



.linkki {
	
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	
}
.kuva_logo {
	
	float: left;
	
}

h2.logo {
	
	float: right;
	
}

@media only screen and (max-width: 600px) {
	
	.teksti_sisalto2 {
    margin-bottom: 25px;
}
	
}


@media only screen and (min-width: 700px) {



.linkki {
	
	margin-left: 2%;
	text-align: left;
	display: inline-block;
}


#sahkoposti {
	
display: block;	
	
}

.luettelo {
	
	width: 50%;
	float: right;
	margin-top: 5px;
	
}

.yhteystideot {
	
	float: left;
	width: 45%;
	padding: 10px;
	padding-right: 0;

}

.teksti_sisalto {
		
	float: left;
	width: 50%;
	margin-top: 10px;
	
		
}
	
	
.teksti_sisalto2 {
		
	float: right;
	width: 50%;
	margin-top: 10px;
		
}
	
	
	
.tekstikentta {
		
	border-style: none;
	margin-top: 0;
	padding-top: 0;
	width: 95%;
		
}

}





@media only screen and (min-width: 800px) {
	
.yhteystideot > div {
	
	padding: 10px;
	padding-right: 0;
	display: inline-flex;
	
}
	
	

.meista_sanottua {
	
	margin-top: 0;
}
	
	
#otsikko2 {
    width: 65%;
	
	
}
	
#sahkoposti {
    
	display: inline-block;
	margin: 0;
	
}


	
#taustakuva {
		
		display: table;
		
}
	
.sisalto {
		
	display: table;
		
		
}
	
.ajankohtaista {
		
	float: left;
	width: 46.5%;
	margin-left: 2.5%;
	padding-top: 10px;
		
}
	
.meista_sanottua {
	
	margin-bottom: 1%;
	width: 46.5%;
	float: right;
	margin-right: 2.5%;
	
}
	
.footer {
		
	display: table;
		
}
	
}


@media only screen and (min-width: 1000px) {
	
	
.yhteystideot > div {
		
	display: block;
		
}
	
.luettelo {
	
	margin-bottom: 10px;
	
}
	

.ajankohtais_otsikko {
		
	width: 95%;
	
}
	
.ajankohtaista > #margin {
		
	width: 100%;
	margin-bottom: 25px;
		
}
	
#otsikko {
		
	margin-top: 25px;
	padding-top: 25px;
	padding-bottom: 70px;
	
}
	
#otsikko > h1 {
	
	margin-top: 0px;
	padding-top: 0px;
	font-size: 40px;
	font-family: Merriweather;
	font-weight: 900;
	margin-bottom: 0;
		
}
	
.kuva_oikea {
	
	float: right;
	margin-right: 10px;
	
}

.kuva_vasen {
	
	float: left;
	margin-left: 10px;
	
}
	
	
	
.teksti_sisalto {
  
	float: left;
    width: 30%;
	margin: 15px;
	margin-bottom: 0;
	
}
	
.teksti_sisalto2 {
	
    float: left;
    width: 30%;
    margin: 15px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	
}
.ajankohtaista {

    width: 100%;
    margin-left: 5px;
    margin-top: 5%;
    border-bottom-style: none;
    border: none;
	padding: 0;
	
}

#lista {
	
    border: 2px dashed #a0181c;
    display: inline-block;
    width: 31%;
    margin-left: 5px;
    float: right;
    margin-right: 25px;
	margin-bottom: 5px;
	
}

.meista_sanottua {
	
    margin-bottom: 1%;
    width: 100%;
    border: none;
    margin-top: 0%;
    border-top-style: none;
    margin-left: auto;
    margin-right: auto;
	
}

.luettelo {
	
    width: 30%;
    float: left;
	font-family: Merriweather;
    font-weight: 400;
	
}
.yhteystideot {
	
	width: 40%;
	padding: 0;
	font-family: Merriweather;
    font-weight: 400;
	margin: 0;
	
}

.linkki {
	
	margin-top: 18px;
	margin-left: 0%;
	text-align: center;
	display: block;
  
}
}





@media only screen and (max-width: 699px) {

.luettelo {
	
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	
}
	
	
b {

width: 20%;

}
.teksti_sisalto2 {
   
   margin-bottom: 10px;

}


.kuvat {
	
	display: none;
	
}



	
.luettelo > a {

	margin-left: auto;
	margin-right: auto;
	font-size: 1.3em;
	padding: 5px;

}
	
	
	
	
.yhteystideot {
		
	padding-left: 5px;
	padding-top: 5%;
		
}
	
#sahkoposti {
	
	margin-top: 0;
	display: inline-block;	
	
}
	
	
}

@media only screen and (max-width: 1000px) {

.footer {
	
	padding-bottom: 10px;
	
}
	
#margin > p {
		
	width: 100%;
		
}
	
	
.kuva_oikea, .kuva_vasen {

	display: none;

}
	
}
