/* Tehtavat 1-3 */

@blueShade: #002699;
@greenShade: #99ffd6;
@redShade: #cc0000;
@blackShade: #000000;

@leveys: 50%;
@tayte: 10px;

/* Tehtava 2 saadaan poistamalla @blueShade ja @greenShade @themeColor muuttujasta*/
@themeColor: @redShade - @blueShade + @greenShade;

@themeLightColor: @themeColor + #444;
@themeDarkColor: @themeColor - #333;
@themeBlackColor: @blackShade;
@themeComplement: @themeColor + #ffffff;
@themeGreenColor: @greenShade;

.ThinBorder {

@color: @themeColor;
border: solid 1px @color;


}

.ThickBorder {

@color: @themeColor;
border: solid 2px @color;

}
#wrapper {
  .ThickBorder;

padding: @tayte;
max-width: 1000px;
margin-left: auto;
margin-right: auto;

}

#sidebar {

  .ThinBorder;
width: 25%;
float: right;
padding: 10px;

}


main {

width: 65%;

}

header {

background-color: @themeLightColor;
padding: @tayte;

.ThickBorder;

border-color: @themeBlackColor;
border-bottom: none;

}

@valikko: ~"#main-navi > ul > li";

@{valikko} {
   
  display: inline;

}

@luettelo: ~"main, .ThickBorder";

@{luettelo} {
   
  padding-left: @tayte;

}

@otsikko: ~"main > h1, #sidebar > h1";

@{otsikko} {
   
  color: @themeColor;

}


#main-navi {

background-color: @themeDarkColor;
padding: @tayte - 9px;


ul {

padding: 0;
margin: 0;


a {
  color: @greenShade;

  display: inline-block;
  padding: 15px;
  text-decoration: none;
  .theme("tumma");
  &:hover {
    .theme("vaalea");
  }
}

}

.ThickBorder;

border-color: @themeBlackColor;


}

section {

font-family: Comic Sans MS;
text-align: center;
display: inline-block;
margin-left: 150px;

}


section > h1 {

  font-size: 50px;
  margin: 0;

}

#sidebar > h1 {

font-size: 20px;
margin: 0;
}




a {
  .theme("tumma");
text-decoration: none;
  &:hover {
    .theme("vaalea");
  }

}


.theme (@mode) when (@mode = "vaalea") {

  
  color: @themeComplement;
 background-color: @themeGreenColor - @themeDarkColor;
  
}

.theme (@mode) when (@mode = "tumma") {
  color: @themeBlackColor;
}

img {

  float: left;

}


@wiki: ~"main > p:last-child > a";


@{wiki} {
   
  color: @themeGreenColor - @themeDarkColor;

}
