/* Tehtavat 1-3 */
/* Tehtava 2 saadaan poistamalla @blueShade ja @greenShade @themeColor muuttujasta*/
.ThinBorder {
  border: solid 1px #ffd93d;
}
.ThickBorder {
  border: solid 2px #ffd93d;
}
#wrapper {
  border: solid 2px #ffd93d;
  padding: 10px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#sidebar {
  border: solid 1px #ffd93d;
  width: 25%;
  float: right;
  padding: 10px;
}
main {
  width: 65%;
}
header {
  background-color: #ffff81;
  padding: 10px;
  border: solid 2px #ffd93d;
  border-color: #000000;
  border-bottom: none;
}
#main-navi > ul > li {
  display: inline;
}
main,
.ThickBorder {
  padding-left: 10px;
}
main > h1,
#sidebar > h1 {
  color: #ffd93d;
}
#main-navi {
  background-color: #ffa60a;
  padding: 1px;
  border: solid 2px #ffd93d;
  border-color: #000000;
}
#main-navi ul {
  padding: 0;
  margin: 0;
}
#main-navi ul a {
  color: #99ffd6;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #000000;
}
#main-navi ul a:hover {
  color: #ffffff;
  background-color: #0059cc;
}
section {
  font-family: Comic Sans MS;
  text-align: center;
  display: inline-block;
  margin-left: 150px;
}
section > h1 {
  font-size: 50px;
  margin: 0;
}
#sidebar > h1 {
  font-size: 20px;
  margin: 0;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  background-color: #0059cc;
}
img {
  float: left;
}
main > p:last-child > a {
  color: #0059cc;
}
