* {
	
	color: #47476b;
}


h2.teksti_sisalto {
	
	padding-bottom: 0;
	
}

.teksti_sisalto {
	
	padding: 10px;
	margin: 10px;
	margin-bottom: 0;

}

#training {
	
	padding: 20px;
	padding-top: 0;

}

#training > div > p { 

	display: inline;
	margin-left: 5px;

}

#training > div {
	
	padding-bottom: 10px;
	
}

#speakers {
	
	padding: 10px;
	margin: 10px;
	padding-bottom: 0;
}

#speakers > h2 {
	
	margin: 0;
	
}

.footer {

   clear: both;
   width: 100%;
   height: 100%;
   background-color: #7b940a;
   text-align: left;
}
#header {
   
    text-align: center;
    background: #FCFAFA;
	border: 3px solid green;
	padding: 10px;
	border-bottom: 0;

}

#content {
	
    background: #FCFAFA;
	border: 3px solid green;

}






#kuva {
	
display: inline-block;

	
}


	
@media only screen and (max-width: 600px)  {


.ala_otsikko {
	
	text-align: center;
	margin-top: 10px;
	
}
	
.teksti > h1 {
		
		text-align: center;
		margin: 25px;
		
		
	}
	
.teksti {

	width: 100%;
	display: inline-block;

}	



}
		



@media only screen and (min-width: 800px) {


	
.teksti {
	
	width: 65%;
	display: inline-block;
	margin-left: 25px;
	
}
		

.teksti > h1 {
		
	text-align: left;
	width: 80%;
	margin-bottom: 0;
	margin-top: 5px;
	
}

h2.ala_otsikko {
	
	text-align: right;
		margin-top: 0;
}

#speakers {

width: 30%;
float: left;
}	


#training {

width: 58%;
float: right;
}

#kuva {
	
display: block;
    margin-left: 20px;

	
}

#training > div {
	
	padding-left: 10px;
	
}

}

@media only screen and (min-width: 1000px) {
p.a {
	float: center;
	margin-left: 80%;
	
}
#speakers {

width: 90%;
float: left;
}	


#training {

width: 90%;
float: right;
}



#lista {

width: 60%;
float: left;
}	


#sidebar {

width: 40%;
float: right;
}	



	



h2.b {
text-align: left;
margin-left: 50px;
	
}





#sailio {
	
max-width: 1000px;	
	margin-left: auto;
	margin-right: auto;
}

.teksti  {
	
	width: 70%;
	
}

h2.ala_otsikko {
	
	margin-top: 10px;
	
}


}
