@import "varit.less";
@import "typografia.less";


@tayte: 10px;

.otsikko {

    color: @otsikko;

}

.tekstikentta > p > a:after {
	
	content: ' \003E\003E';
	
}


.bordertyyli_1 {

    border: 2px solid @reunus_vari;

}


header {

    background-color: @vaalea1;
    

h1 {

    margin: 0;
    padding: 30px;
    text-align: center;
    .otsikko;
    font-family: @otsikko-fontti;

}

}

#wrapper {

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    background-color: @vaalea2;
    border-bottom-left-radius: @tayte;
    border-bottom-right-radius: @tayte;

}





#main-navi {
   
	display: table;
    width: 100%;
    table-layout: fixed;
    padding: 0;
    margin-top: 0;
	

li {
	
	display: table-cell;

}


a {
    .theme("tumma");
    display: block;
	.bordertyyli_1;
	text-align: center;
	padding: @tayte;
	color: @musta;
    background-color: @tumma1;
    font-family: @navi-fontti;

    &:hover {
      .theme("vaalea");
    }
  
  }
  
}

.laatikko2 {

    float: left;
    width: 35%;
    text-align: center;
    background-color: @vaalea1;
    margin-top: 18px;

    h2 {

    background-color: @tumma2;
    padding: 10px;
    margin: 0;
    .otsikko;
    font-family: @valiotsikko-fontti;

    }

img {

    border-radius: 50%;
    width: 150px !important;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 150px;
    float: none !important;

}

p {

    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

}

}


#sisalto {

    float: left;
    width: 70%;
    text-align: center;
    

    img {

    width: 96.9%;
    .bordertyyli_1;
    float: left;

    }

}

.sivupalkki {

    float: right;
    width: 30%;
}


.laatikko {

    float: right;
    width: 60%;
    text-align: center;
   


}

.tekstikentta {

    text-align: left;
    width: 95%;
    background-color:  @vaalea1;
    padding-left: 5px;


p {

a {

    float: right;
    margin-right: 2%;

}


}
h3 {

    font-family: @valiotsikko-fontti;

}

}



.luettelo {

    float: right;
    width: 98%;
    text-align: right;

}


.twitti {


    background-color: @valkoinen;
    width: 90%;
    display: inline-block;
    padding: 10px;
    margin-bottom: 5%;
    border-radius: 10px;

p {

    margin-top: 0;

}

b {

    float: right;

}

div {

    float: left;
    width: 80%;

 }

 img {

   
    width: 15%;
    float: right;

 }

}


.tilaus_lomake {

    background-color: @vaalea1;
    display: inline-block;
    width: 96%;
    border-radius: @tayte;
    
    
input {

    display: block;
    margin-top: 5%;
    margin-left: @tayte;

    }

p {

    margin-left: @tayte;

}

h2 {

    background-color: @tumma2;
    text-align: center;
    padding: @tayte;
    margin: 0;
    border-top-left-radius: @tayte;
    border-top-right-radius: @tayte;
    .otsikko;
    font-family: @valiotsikko-fontti;

}

#submit {

    background-color: @tumma1;
    .bordertyyli_1;
    margin-bottom: 15px;

}

}

.kuva {
    
    position:relative;
    width:100%;
    float:left;


img {

    width:100%;

}

h3 {

    position:absolute;
    bottom:0;
    left:0;
    background: fade(@musta, 50%);
    .otsikko;
    width: 97.5%;
    margin:0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: @valiotsikko-fontti;
}

}

.footer {

    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: @tumma2;
    border-bottom-left-radius: @tayte;
    border-bottom-right-radius: @tayte;
    font-family: @valiotsikko-fontti;

h3 {

    .otsikko;

}


}





a {
    .theme("tumma");
    text-decoration: none;
    &:hover {
      .theme("vaalea");
      background-color: transparent;
    }
  
  }
  
  
  

  .theme (@mode) when (@mode = "vaalea") {
  
    
    color: @otsikko;
    background-color: @vaalea1 + @tumma1;
    
  }
  
  .theme (@mode) when (@mode = "tumma") {
    color: @tumma2;
  }

p {

    font-family: @leipateksti-fontti;

}

