.otsikko {
  color: #ddbebb;
}
.tekstikentta > p > a:after {
  content: ' \003E\003E';
}
.bordertyyli_1 {
  border: 2px solid #000000;
}
header {
  background-color: #884a44;
}
header h1 {
  margin: 0;
  padding: 30px;
  text-align: center;
  color: #ddbebb;
  font-family: Cambria;
}
#wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  background-color: #aa6355;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#main-navi {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 0;
  margin-top: 0;
}
#main-navi li {
  display: table-cell;
}
#main-navi a {
  color: #221114;
  display: block;
  border: 2px solid #000000;
  text-align: center;
  padding: 10px;
  color: #000000;
  background-color: #442225;
  font-family: Arial;
}
#main-navi a:hover {
  color: #ddbebb;
  background-color: #cc6c69;
}
.laatikko2 {
  float: left;
  width: 35%;
  text-align: center;
  background-color: #884a44;
  margin-top: 18px;
}
.laatikko2 h2 {
  background-color: #221114;
  padding: 10px;
  margin: 0;
  color: #ddbebb;
  font-family: Sans-serif;
}
.laatikko2 img {
  border-radius: 50%;
  width: 150px !important;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 150px;
  float: none !important;
}
.laatikko2 p {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
#sisalto {
  float: left;
  width: 70%;
  text-align: center;
}
#sisalto img {
  width: 96.9%;
  border: 2px solid #000000;
  float: left;
}
.sivupalkki {
  float: right;
  width: 30%;
}
.laatikko {
  float: right;
  width: 60%;
  text-align: center;
}
.tekstikentta {
  text-align: left;
  width: 95%;
  background-color: #884a44;
  padding-left: 5px;
}
.tekstikentta p a {
  float: right;
  margin-right: 2%;
}
.tekstikentta h3 {
  font-family: Sans-serif;
}
.luettelo {
  float: right;
  width: 98%;
  text-align: right;
}
.twitti {
  background-color: #ffffff;
  width: 90%;
  display: inline-block;
  padding: 10px;
  margin-bottom: 5%;
  border-radius: 10px;
}
.twitti p {
  margin-top: 0;
}
.twitti b {
  float: right;
}
.twitti div {
  float: left;
  width: 80%;
}
.twitti img {
  width: 15%;
  float: right;
}
.tilaus_lomake {
  background-color: #884a44;
  display: inline-block;
  width: 96%;
  border-radius: 10px;
}
.tilaus_lomake input {
  display: block;
  margin-top: 5%;
  margin-left: 10px;
}
.tilaus_lomake p {
  margin-left: 10px;
}
.tilaus_lomake h2 {
  background-color: #221114;
  text-align: center;
  padding: 10px;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ddbebb;
  font-family: Sans-serif;
}
.tilaus_lomake #submit {
  background-color: #442225;
  border: 2px solid #000000;
  margin-bottom: 15px;
}
.kuva {
  position: relative;
  width: 100%;
  float: left;
}
.kuva img {
  width: 100%;
}
.kuva h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #ddbebb;
  width: 97.5%;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: Sans-serif;
}
.footer {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #221114;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Sans-serif;
}
.footer h3 {
  color: #ddbebb;
}
a {
  color: #221114;
  text-decoration: none;
}
a:hover {
  color: #ddbebb;
  background-color: #cc6c69;
  background-color: transparent;
}
p {
  font-family: Helvetica;
}
