@pohja: #663333;
@vaalea1: lighten(spin(@pohja, 5), 10%);
@vaalea2: lighten(spin(@pohja, 10), 20%);
@tumma1: darken(spin(@pohja, -5), 10%);
@tumma2: darken(spin(@pohja, -10), 20%);

@musta: #000000;
@valkoinen: #ffffff;

@otsikko: lighten(spin(@pohja, 5), 50%);

@reunus_vari: @musta;