@import "varit.less";
@import "typografia.less";

@tayte: 10px;




.uutislaatikot {

  margin-left: @tayte;
  margin-right: @tayte;

}


#container {

    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  
  }

#top-navi > ul {
    display: table;
   width: 100%;
    padding: 0;
    margin: 0;
  
  
  
  }
  
  
  #top-navi li {
    display: table-cell;
    position: relative;
    text-align: center;
    width: 20%;
  }


  #top-navi a {
    color: @musta;
    display: block;

    text-align: center;
    padding: @tayte;
    color: @musta;
    background-color: @midGreen;
    font-family: Arial;
  }
  
  #top-navi {
    
    border: 2px solid @darkGreen;

    a {
        
        text-decoration: none;
        color: @darkGreen;
        font-weight: @fontti_1;
        &:hover {
          .theme("vaalea");

       
    
        }

    
  }

}

#top-navi > ul > li:hover .submenu {

display: block;

li {

  display: block;

}


}
#top-navi ul li .submenu {

    position: absolute;
    top: 100%;
    left: 30%;
    z-index: 1;
    background-color: transparent;
    background-image: url('navi-arrow.png');
    background-repeat: no-repeat;
    background-position: 50% 10px;
    margin-top: -15px;
    padding-top: 26px;
    display: none;
    margin-left: 0;
    padding-left: 0;


  li {

    width: 100%;

  }

    }


  .theme (@mode) when (@mode = "vaalea") {
  
    
    color: @darkGreen;
    background-color: @lightGreen;
    
    
  }
  
 
  #site-header {

    background-image:url("banner.png");
    padding: 1px;
    color: @darkGreen;
    text-align: center;
    border: 2px solid @darkGreen;
    border-top: none;
    text-shadow: 2px 2px @lightGreen;

    h1 {

    font-size: 46px;

    }

  }


  #sidebar {

    float: right;
    width: 26%;

  }

  #row2 {

    display: inline-block;
    background-color: @lightGreen;
    padding: 30px;
    margin-top: @tayte;
    margin-bottom: @tayte;
    


    
  .project {

    width: 18.7%;
    float: left;
    background-color: @valkoinen_vari;
    border-radius: @tayte;
    margin-left: @tayte;
    border: 2px solid @darkGreen;
    text-align: center;

  h1 {

    font-size: 22px;

  }

  }

  }


  #twitter {

    width: 50%;
    float: left;
 
    header {

      margin-bottom: @tayte;
    }
  
  }


#row3 {

  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: @tayte;


}

header {

text-align: center;

}







#login-box {

h1 {

background-color: @midGreen;
font-size: 20px;
padding: @tayte;
color: @darkGreen;
font-weight: @fontti_1;

}
p {

  margin-right: 20px;

  input[type="text"], input[type="password"] {

 float: right;
 background-color: @lightGreen;
  
  }

  input[type="submit"] {

    background-color: @lightGreen;

  }

}

}

#events {

h1 {

  background-color: @midGreen;
  font-size: 20px;
  padding: @tayte;
  color: @darkGreen;
  font-weight: @fontti_1;

}


}
.event {

  display: table;

}
.event-date {

  width: 60px;
  height: 50px;
  border: 1px solid @darkGreen; 
  float: left;
  margin-bottom: @tayte;
  background-color: @darkGreen;


  .day {

    display: block;
    text-align: center;
    font-size: 20px;
    padding: 4.5px;
    background-color: @valkoinen_vari;
  }

.month {

  color: @lightGreen;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: @fontti_1;
  text-transform: uppercase;

}


}

.event-name {
  
  width: 55%;
  float: right;
  content:" \003e ";
  margin-top: @tayte;
  font-size: 20px;


  a {

    color: @musta;
    text-decoration: none;

  }

  a:after { 
    content:"\003e\003e"; 
    margin-left: 5px;
  
  }
}


.tw-logo {

  float: left;
  clear: both;
  display: table;

}

.tw-content {

  float: right;
  width: 90%;

  .tw-user {

    color: @midGreen;

  }

}

.tweet-buttons {

  float: right;
  margin-bottom: 20px;

}

.tw-date {

  float: right;
  color: @neutralColor;

}

.tw-tweet {

  display: block;
  padding: @tayte;

}

#facebook {

  
  width: 50%;
  float: right;


  header {
    margin-bottom: @tayte;

    img {

    width: 78px;

    }

  }

.fb-post {

  float: right;
  width: 88%;
  border-bottom: 2px dashed @musta;
  padding-bottom: @tayte;
  padding-top: @tayte;


.fb-user {

  font-size: 1.2em;
  color: @midGreen;

}

.fb-date {

  display: block;
  color: @neutralColor;

}

.fb-like {

  
 width: 20%;
 float: right;


}

}

}

footer {

  display: inline-block;
  width: 100%;

}

#news-box {

  display: inline-block;
  width: 74%;

  .news {

    width: 30%;
    float: left;
    padding: @tayte;

  h1 {

    font-size: 26px;
    margin: 0;
  }

  p {

    margin-top: 0;
  }
  .date {

    color: @neutralColor;

  }
}

}

