.uutislaatikot {
  margin-left: 10px;
  margin-right: 10px;
}
#container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
#top-navi > ul {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
}
#top-navi li {
  display: table-cell;
  position: relative;
  text-align: center;
  width: 20%;
}
#top-navi a {
  display: block;
  text-align: center;
  padding: 10px;
  color: #000000;
  background-color: #33cc33;
  font-family: Arial;
}
#top-navi {
  border: 2px solid #336600;
}
#top-navi a {
  text-decoration: none;
  color: #336600;
  font-weight: bold;
}
#top-navi a:hover {
  color: #336600;
  background-color: #a6e468;
}
#top-navi > ul > li:hover .submenu {
  display: block;
}
#top-navi > ul > li:hover .submenu li {
  display: block;
}
#top-navi ul li .submenu {
  position: absolute;
  top: 100%;
  left: 30%;
  z-index: 1;
  background-color: transparent;
  background-image: url('navi-arrow.png');
  background-repeat: no-repeat;
  background-position: 50% 10px;
  margin-top: -15px;
  padding-top: 26px;
  display: none;
  margin-left: 0;
  padding-left: 0;
}
#top-navi ul li .submenu li {
  width: 100%;
}
#site-header {
  background-image: url("banner.png");
  padding: 1px;
  color: #336600;
  text-align: center;
  border: 2px solid #336600;
  border-top: none;
  text-shadow: 2px 2px #a6e468;
}
#site-header h1 {
  font-size: 46px;
}
#sidebar {
  float: right;
  width: 26%;
}
#row2 {
  display: inline-block;
  background-color: #a6e468;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#row2 .project {
  width: 18.7%;
  float: left;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 10px;
  border: 2px solid #336600;
  text-align: center;
}
#row2 .project h1 {
  font-size: 22px;
}
#twitter {
  width: 50%;
  float: left;
}
#twitter header {
  margin-bottom: 10px;
}
#row3 {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
header {
  text-align: center;
}
#login-box h1 {
  background-color: #33cc33;
  font-size: 20px;
  padding: 10px;
  color: #336600;
  font-weight: bold;
}
#login-box p {
  margin-right: 20px;
}
#login-box p input[type="text"],
#login-box p input[type="password"] {
  float: right;
  background-color: #a6e468;
}
#login-box p input[type="submit"] {
  background-color: #a6e468;
}
#events h1 {
  background-color: #33cc33;
  font-size: 20px;
  padding: 10px;
  color: #336600;
  font-weight: bold;
}
.event {
  display: table;
}
.event-date {
  width: 60px;
  height: 50px;
  border: 1px solid #336600;
  float: left;
  margin-bottom: 10px;
  background-color: #336600;
}
.event-date .day {
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 4.5px;
  background-color: #ffffff;
}
.event-date .month {
  color: #a6e468;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.event-name {
  width: 55%;
  float: right;
  content: " \003e ";
  margin-top: 10px;
  font-size: 20px;
}
.event-name a {
  color: #000000;
  text-decoration: none;
}
.event-name a:after {
  content: "\003e\003e";
  margin-left: 5px;
}
.tw-logo {
  float: left;
  clear: both;
  display: table;
}
.tw-content {
  float: right;
  width: 90%;
}
.tw-content .tw-user {
  color: #33cc33;
}
.tweet-buttons {
  float: right;
  margin-bottom: 20px;
}
.tw-date {
  float: right;
  color: #808080;
}
.tw-tweet {
  display: block;
  padding: 10px;
}
#facebook {
  width: 50%;
  float: right;
}
#facebook header {
  margin-bottom: 10px;
}
#facebook header img {
  width: 78px;
}
#facebook .fb-post {
  float: right;
  width: 88%;
  border-bottom: 2px dashed #000000;
  padding-bottom: 10px;
  padding-top: 10px;
}
#facebook .fb-post .fb-user {
  font-size: 1.2em;
  color: #33cc33;
}
#facebook .fb-post .fb-date {
  display: block;
  color: #808080;
}
#facebook .fb-post .fb-like {
  width: 20%;
  float: right;
}
footer {
  display: inline-block;
  width: 100%;
}
#news-box {
  display: inline-block;
  width: 74%;
}
#news-box .news {
  width: 30%;
  float: left;
  padding: 10px;
}
#news-box .news h1 {
  font-size: 26px;
  margin: 0;
}
#news-box .news p {
  margin-top: 0;
}
#news-box .news .date {
  color: #808080;
}
