.alaotsikko > p {
	
	display: inline;
    font-weight: 100;
	
}


.otsikko {
	
	display: flex;
	align-items:center;
	margin-left: 30px;
	color: #006abd;
	height: 50px;
	margin-top: 2%;

}

.otsikko > img {
	
	 margin-left: 20px;
}

hr.viiva1 {
	
	width: 100%;
	
}


ul {

	padding: 0%;
	width: 90%;
    margin-left: auto;
    margin-right: auto;

}

a.about {
	
	text-decoration: underline;
	color: black;	
    font-size: 12px;
	
}

.pudotusvalikko > li > a.about {

	text-decoration: underline;
	color: black;

}

.logo {
	
	width: 70%;
	float: right;
	margin-top: 2%;
	display: inline-block;
}


body {
	
	background-image: linear-gradient(white, #1f7cab);
	height: 96%;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
	background-attachment: fixed;
	
}

#sisalto {
	
	min-width: 200px;
	display: table;
	max-width: 1000px;
	background-color: white;
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;

}

.content {
	
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	
	
}

#logo > img {
	
	float: right;
	margin-right: 50%;

}

.taustakuva {
	
	background-color: #cbd0d1;
	width: 90%;
	height: auto;
	padding: 5px;
	margin-left: 4%;
	margin-right: 4%;

}

.taustakuva > img {
	
	width: 100%;
	height: auto;

}

li {
	
	display: inline-block;
		 
}

.pudotusvalikko {
	
	display: inline-block;

}

.luettelo {
	
	display: inline-block;

}

.luettelo2 {
	
	display: inline-block;
}


a:active {
	
	color: black;
}



a {
	
	text-decoration: none;
	color: #006abd;	
	list-style-type:none;
	font-size: 12px;

}


.taulukko1 > h3, .taulukko2 > h3 {
	
	color: #006abd;	
	
}


.taulukko1 {
	
	margin-top: 8%;
	width: 70%;
	background-color: #ffeea8;	
	float: right;
	padding-left: 20px;
	margin-right: 12%;
	border: 2px solid coral;
	
}

.taulukko2 {
	
	padding-left: 20px;
	margin-top: 5%;
	width: 70%;
	background-color: #ffeea8;	
	float: right;
	margin-right: 12%;
	border: 2px solid coral;

}

.taulukot {
	
	width: 39%;
	float: right;
	height: 40%;

}

.tekstikentta {
	
	width: 55%;
	float: left;
	margin-left: 4%;
	height: auto;
	background-color: white;
}

.alaotsikko {
	
	float: right;
	color: black;
	margin-right: 1%;
	
}

.alaotsikko > a {
		
	text-decoration: underline;
	
}


.footer > ul > li > a {
	
	text-decoration: underline;
	color: black;	
	font-weight: bold;
}


ul.lista > li, .pudotusvalikko > a.aboutus, .luettelo > li > a {
	
	margin-left: 13px;
	font-size: 17px;
	
}

.lista > li > a {
	
	font-size: 17px;
	
}

.lista2 > li, .pudotusvalikko > a.about {
	
	margin-left: 5px;
	font-weight: bold;
	
}


@media only screen and (max-width: 1000px) {


a.about {
	
	font-size: 18px;
	
}

a {
	
	font-size: 18px;

}




.luettelo > li > a {
	
	margin-left: 0px;	

}


.taulukot {
	
	width: 100%;
	float: left;
	margin-bottom: 5%;
	
}

.taulukko1 {
	
	float: left;
	max-width: 38%;
	margin-left: 5%;
	margin-right: 0%;
	margin-top: 5%;

}

.taulukko2 {
	
	position: relative;
	float: right;
	max-width: 38%;
	margin-right: 5%;
	
}


.tekstikentta {

	width: 90%;
	
}



.pudotusvalikko {
	
	display: inline-block;
	position: relative;
	
}


.taulukot > div > p {
	
	padding: 10px;
	
}
	

.luettelo > li {

	display: block;
	margin-left: 10px;
	
}

.luettelo2 > li {

	display: block;

}

.luettelo {
	
	position: absolute;
	display: none;
	background-color: rgb(0, 0, 0);
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border: 2px solid black;
	margin-left: 15px;
	background: rgba(103, 168, 243, 0.1);  

}

.luettelo2 {
  
  display: none;
  background-color: rgb(0, 0, 0);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 2px solid black;
  background: rgba(103, 168, 243, 0.1);
  
}



.pudotusvalikko:hover .luettelo {
	
	display: block;
	padding: 5px;
	
}

.pudotusvalikko:hover .luettelo2 {
	
	display: block;
	position: absolute;
    margin-top: 2px;
    font: 15px;
    bottom: 100%;

}

.pudotusvalikko:hover .luettelo2 > li > a {
	
	text-decoration: none;
	
}

.footer > ul > li.alaotsikko > a {
	
	text-decoration: underline;
	
}

	
}

.rivi {
	
	float: left;
	text-align: center;
	clear: both;
	width: 100%;
	text-align: left;
	height: 9px;

}
	
.rivi > hr {
	
	color: #006abd;													
}
	
	
	
.footer {
   
	float: left;
	text-align: center;
	clear: both;
	width: 100%;
	background-color: #cbd0d1;
	text-align: left;
	font-size: 12px;

}


.luettelo2 > li > a {

	color: black;
	text-decoration: underline;
	font-weight: bold;
	
}



@media only screen and (max-width: 760px) {



.luettelo > li > a {
	
    margin-left: 10px;
	
}


.pudotusvalikko > a.about {
	
	margin-left: 5px;
	
}
 



.otsikko {
	
	display: block;	
	align-items: none;
	height: 20%;
	text-align: center;
	margin-left: 0px;

}

.otsikko > img {
	
	text-align: center;
	margin-left: 0px;
	
}

ul {
	
	margin-left: 10%;
	padding: 0%;

}



hr.viiva1 {
  
	margin-left: -3%;
    width: 95%;

}


a.about {
	
	text-decoration: none;
	color: black;	
	font-size: 20px;

}



.footer > ul > li > a {
	
	text-decoration: underline;
	color: black;	
	font-size: 20px;
}

.logo {
	
	width: 60%;
	float: right;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;

}

	
.taulukko1 {

	text-align: center;
	min-width: 90%;
	float: left;
	padding: 0px;
	margin-left: 4.5%;
	border: 2px solid coral;
	
}	

.taulukko2 {
	
	margin-right: 4.5%;
	text-align: center;
	min-width: 90%;
	padding: 0px;
	border: 2px solid coral;

}
	
.footer > ul > li {
	
	display: block;

}

.pudotusvalikko:hover .luettelo2, .pudotusvalikko:hover .luettelo {

	display: block;
	position: relative;
    margin-top: 2px;
    bottom: 0%;

}




.luettelo2, .luettelo {
  
	background-color: none;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border: none;
	background: rgba(103, 168, 243, 0.1);
	min-width: 10%;

}


.footer > ul > li > a {
	
	text-decoration: none;

}



.pudotusvalikko:hover .footer {
	
	height: 200px;
	
}

.luettelo2 > li > a {
	
	font-size: 20px;
	margin-left: 10px;

}

.pudotusvalikko {
		
	display: block;
	
}

ul > li {
	
	display: block;
	margin-left: 3px;
	
}

a {
	
	font-size: 20px;
	
}


#sisalto {
	
	min-width: 200px;
	
}

.alaotsikko {
	
	font-size: 20px;
	margin-top: 20px;
	
}


}

	
	
}


ul > .pudotusvalikko > li {
	
	
margin-left: 5px;
}



.luettelo > li, .luettelo2 > li {
	

	margin-left: 5px;
}



